<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
</head>
<body>
<h1>This is my ejs.</h1>
<ul>
    <% for(var i=0; i<list.length; i++) {%>
    <li><%= list[i].id %>  <%= list[i].name %></li>
    <% } %>
</ul>
</body>
</html>
